// COLOR VARIABLES
$color-primary: #C7BEB2;
$color-primary-dark: #463C2D;

$color-secondary: #FFC31F;
$color-tertiary: #F78C15;

$color-agile: #00d68f;
$color-intel: #00baf3;
$color-pow: #fd316f;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: rgb(79, 58, 84);
$color-grey-dark-2: rgb(99, 75, 109);

// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-1200: 75em; // 1200px /16px 
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800px;
$bp-600: 37.5em; // 600px;
$bp-400: 28.13em; // 450px;

*,
::after,
::before {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100vw;
    overflow-x: hidden;

}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
   background:  #e5eff1;
   text-align: center;
}



::selection {
    background: #e5eff1;
    /* WebKit/Blink Browsers */
    color: $color-primary;
}

::-moz-selection {
    background: #ebebeb;
    /* Gecko Browsers */
    color: $color-primary;
}

button:focus,
button:active {
    outline: none !important;
    outline: 0 !important;
}

button::-moz-focus-inner {
    border: 0;
}

// input::placeholder {
//     color: rgb(182, 36, 158);
//     opacity: .5;
// }

input::-moz-focus-inner {
    border: 0;
    border: none;
}



.agility{background: $color-agile}
.intelligence{background: $color-intel}
.strength{background: $color-pow}
.gray{background: #ddd}


#loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60vh;
}