.scrollContent {
    with:100vw;
    overflow-y: scroll;
    max-height: 88vh;

    @media only screen and (max-width: $bp-800) {
        font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-400) {
        max-height: 82vh;
    }
}